body{ background: #001a33;
      padding:60px 300px;
      font-family: 'Bungee', cursive;
    }

h1  { color:#fff;
      text-align: center;
      margin-bottom:50px;
      font-size: 60px;}

#wrapper {margin:0 auto;
          background-color:black;
          height:600px;width:1000px;

          }

#winner {
          margin:0 auto;
          color:#cc0066;
          font-size: 80px;
           z-index:10;width:60%;
           padding:100px;
           text-align: center;
         }
.msg {    background: url('img/d.jpg');
          background-repeat: no-repeat;
          background-size: auto;}
#yellow { color:yellow;}

#infoboard {color:#fff; width:90%;}
.info {width:3%;display: inline-block;margin-left:50px;margin-right:10px;}

#reset { float:right; padding:10px; background: rgba(255,255,255,0.5);
       color:#fff; border:none; font-size: 26px;cursor: pointer;}
.finder { background:url('img/pakman.gif') !important;
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: FlipH;
      -ms-filter: "FlipH";
      }

.devil { background:url('img/devil2.gif') !important;
        }


.eaten { background:#ffb84d ;/*rgba(255, 215, 0,0.5);*/ }

/* classes*/
.cell { margin:0;
        width:100px;
        height:100px;
        display:
        inline-block;
        float:left;
      }

.off { background:#0000e6;
       box-sizing: border-box;
       border:20px solid black;}

.on { background: #000;}
